In [1]:
import pandas as pd
import numpy as np

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [3]:
sales = pd.read_csv('kc_house_data.csv', dtype=dtype_dict)

In [4]:
train_data = pd.read_csv('kc_house_train_data.csv', dtype=dtype_dict)
test_data = pd.read_csv('kc_house_test_data.csv', dtype=dtype_dict)

In [9]:
np.mean(train_data['sqft_living'] * train_data['price']) - np.mean(train_data['sqft_living']) * np.mean(train_data['price'])

239483046.55728674

In [10]:
def simple_linear_regression(input_feature, output):
    numerator = np.mean(input_feature * output) - np.mean(input_feature) * np.mean(output)
    denominator = np.mean(np.square(input_feature)) - np.mean(input_feature) * np.mean(input_feature)
    slope = numerator / denominator
    intercept = np.mean(output) - slope * np.mean(input_feature)
    return(intercept, slope)

In [11]:
input_feature = train_data['sqft_living']
output = train_data['price']

In [12]:
simple_linear_regression(input_feature, output)

(-47116.07907289488, 281.95883963034294)

In [13]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    RSS = np.sum(np.square(output - (intercept + slope * input_feature)))
    return(RSS)

In [16]:
get_residual_sum_of_squares(input_feature, output, -47116.07907289488, 281.95883963034294)

1201918354177285.2

In [17]:
def inverse_regression_predictions(output, intercept, slope):
    estimated_input = (output - intercept) / slope
    return(estimated_input)

In [19]:
inverse_regression_predictions(800000, -47116.07907289488, 281.95883963034294)

3004.3962451522752

In [20]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [21]:
simple_linear_regression(train_data['bedrooms'], output)

(109473.17762295791, 127588.95293398833)

In [22]:
get_residual_sum_of_squares(train_data['bedrooms'], output, 109473.17762295791, 127588.95293398833)

2143244498162068.2

In [23]:
2143244498162068.2 > 1201918354177285.2

True

In [25]:
get_residual_sum_of_squares(test_data['sqft_living'], test_data['price'], -47116.07907289488, 281.95883963034294)

275402933617813.03

In [26]:
get_residual_sum_of_squares(test_data['bedrooms'], test_data['price'], 109473.17762295791, 127588.95293398833)

493364585960301.6

In [28]:
275402933617813.03 < 493364585960301.6

True

In [29]:
-47116.07907289488 + 281.95883963034294 * 2650

700074.8459475139